numpy            # Si estás utilizando numpy para operaciones matemáticas o datos
pandas           # Si estás utilizando pandas para análisis de datos
flask            # Si estás desarrollando una aplicación web con Flask
requests         # Si necesitas hacer peticiones HTTP
uvicorn
fastapi
joblib
ydantic
os
